{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<form method="post" class="row g-3">
  {{ form.hidden_tag() }}
  <div class="col-12">{{ form.email(class='form-control', placeholder='Email') }}</div>
  <div class="col-12">{{ form.password(class='form-control', placeholder='Contraseña') }}</div>
  <div class="col-12 form-check">{{ form.remember_me(class='form-check-input') }} {{ form.remember_me.label(class='form-check-label') }}</div>
  <div class="col-12">{{ form.submit(class='btn btn-dark') }}</div>
</form>
{% endblock %}
