{% extends "base.html" %}
{% block content %}
<h1>Gestión de galería</h1>
<form method="post" enctype="multipart/form-data" class="row g-2 mb-4">
  {{ form.hidden_tag() }}
  <div class="col-md-3">{{ form.title(class='form-control', placeholder='Título') }}</div>
  <div class="col-md-3">{{ form.category_id(class='form-select') }}</div>
  <div class="col-md-2">{{ form.image(class='form-control') }}</div>
  <div class="col-md-2">{{ form.is_public(class='form-check-input') }} {{ form.is_public.label }}</div>
  <div class="col-md-2">{{ form.submit(class='btn btn-dark w-100') }}</div>
</form>
<table class="table table-sm">
  <thead><tr><th>Título</th><th>Categoría</th><th>Estado</th></tr></thead>
  <tbody>
  {% for image in images %}
    <tr><td>{{ image.title }}</td><td>{{ image.category.name }}</td><td>{{ 'Pública' if image.is_public else 'Privada' }}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
